<html>
<head>
    <title>Welcome to Tuiter</title>
</head>
<body>
{% if current_user %}
    <h1>Hello, {{ current_user.username }}!</h1>
    <a href="{% url 'new_tuit' %}">Add a new Tuit!</a>
    <a href="{% url 'user_page' username=current_user.username%}">Your profile</a>
    <a href="{% url 'logout' %}">Log out</a>
{% else %}
    <h1>Hello, random Internet person</h1>
    <p><a href="{% url 'login' %}">Log in</a> </p>
{% endif %}
{% if current_user and not all_tuits %}
    <h2>Latest {{ tuit_number }} tuits from you and your friends</h2>
    <p><a href="{% url 'index' %}">All tuits</a> </p>
{% elif current_user %}
    <h2>Latest {{ tuit_number }} tuits</h2>
    <p><a href="{% url 'friends_tuits' %}">Friends' tuits</a> </p>
{% else %}
    <h2>Latest {{ tuit_number }} tuits</h2>
{% endif %}
{% if latest_tuit_list %}
    <ul>
    {% for tuit in latest_tuit_list %}
        <li><a href="{% url 'detail' tuit.id %}">{{ tuit.tuit_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tuits are available.</p>
{% endif %}

</body>

</html>
